:root{
    --cyan: #00e0cb;
}
.fondo1{
    background:url('../images/FONDO1.jpg');
    background-size:cover;
    background-position:center;
}
.trending-places, .promo-section.v1::before{background:url('../images/Fondo-Principal.jpg');background-size:cover;background-position:center;}
.featured-property-section{background:#ECEBEB;background-size:cover;background-position:center;}
.user-btn span, .hero__form.v3 .search_btn a, .list-details-tab .nav-item:after, .feature_cb{background:var(--cyan);}
.section-title.v3 p, .section-title.v2 p, .section-title.v1 p, .list-details-tab .nav-item.active a, .property-location i, .trend-open p{color:var(--cyan);}
.section-title.v2 h2{color:white;}
.lighter-gray{background-color: #f5f5f5;padding: 1rem 0;filter: grayscale(1);}
.borderless{border:none;}
.img-center{position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;width:50%;}
.custom-select .dropdown-item.active, .site-menu>li>a::before{background-color:var(--cyan);}
.item-filter-list li a:hover, .item-filter-list li a.active{color:var(--cyan);border-color:var(--cyan);}
.item-element span{color:var(--cyan);}
.list-details-title.v4{transform:translateY(-350px);}
.list-details-title.v4 img.w-20{width:20%;}
.btn.v3, .page-num li.active, .page-num li:hover, .promo-section.v2 .promo-content:nth-child(1), .chat-popup, .chat-btn, .mortgage-btn button{background:var(--cyan);}
.barra-inicial{position:relative;padding-top:2%;}
p.barra-inicial::before{
    content: "";
    width: 100px;
    height: 1px;
    border-top: 2px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
h2.barra-inicial::before{
    content: "";
    width: 100px;
    height: 1px;
    border-top: 3px solid #fdafe1;
    position: absolute;
    left: 0;
    top: 0;
    right:0;
    margin: auto;
    z-index: 10;
}
#about-us h2.barra-inicial::before{margin:initial;}
@media (min-width: 1200px){
    .promo-section.v1::before {
        width: 70%;
    }
}